<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ewubd.mybloodbank">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bdonation"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bdonation"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBloodBank">


        <activity android:name=".SearchResult"
            android:exported="true"/>
        <activity android:name=".SearchActivity"
            android:exported="true"/>
        <activity android:name=".HomeActivity"
            android:exported="true"/>
        <activity android:name=".UpdateProfile"
            android:exported="true"/>
        <activity
            android:name=".Create"
            android:exported="false" />
        <activity
            android:name=".Help"
            android:exported="false" />
        <activity
            android:name=".HealthTips"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="true" />

        <activity android:name=".SignUpActivity"
            android:exported="true"/>
        <activity android:name=".LoginActivity"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>